asgiref==3.2.10
click==7.1.2
Django==3.1.1
django-braces==1.14.0
django-cors-headers==3.5.0
django-extensions==3.0.9
djangorestframework==3.11.1
h11==0.11.0
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
typing-extensions==3.7.4.3
uvicorn==0.13.2
websockets==8.1
