<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="app">
    Test
  </div>
  <script>
    let socket = new WebSocket('ws://localhost:8000/ws2/');
    let timer = null;
    socket.onopen = () => {
        timer = setInterval(() => {
            socket.send('hello');
            console.log('Sent hello');
        }, 1000);
    };
    socket.onmessage = event => {
      console.log(`[message] Data received from server: ${event.data}`);
    };
    socket.onclose = socket.onerror = () => {
        clearInterval(timer);
    };
  </script>
</body>
</html>
